<!doctype html>
<html>
<head>
  <title>ROCKET</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script src="/static/js/ajax.js"></script>
</head>
<body>
    {{~> page}}
  </body>
</html>
